.gj-Rating__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.gj-Rating__input {
    margin-bottom: 10px;
}

.gj-Rating__btn-container{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}